<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Kickstarter logo" src="{{ "/assets/img/kickstarter_banner_logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Predicting Kickstarter Success with Ensemble Classification </h3>
    <ul>
      <li><strong>Tools:</strong> Python, Sklearn, Pandas, Gensim, Keras, Matplotlib</li>
      <li><strong>Concepts:</strong> Natural Language Processing, Neural Networks, Discretization, Data Processing</li>
    </ul>
    <p>Leading a small group, we developed a heterogeneous ensemble classifier to predict the success of a given Kickstarter project using NLP and trained neural networks. We used Doc2Vec to generate feature vectors for projects' names, which were then used by a logistic regression classifier to predict the success category of a project. Other attributes (fundraising time, goal amount, project category, etc.) were fed into a multilayer perceptron to generate another prediction of success, and then weighted probability averaging was performed to generate a final prediction.</p>
    <a class="project-link" target="_blank" href="https://github.com/gavinhardin/kickstarter-ensemble">Read the Results</a>
  </div>
</div>
<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div> -->
